{% load static %}

<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<style type="text/css">

body {
  background: url('/static/backgroundmountains.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;  
  color:black;

}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


</head>
<body> 

  <div class="font1">
    <h1 style="text-align: center; padding-top: 1cm; color: rgb(51, 51, 51)">Kumenangis</h1>
</div>
<div class="container pl-2">
<div class="col md-6 pt-5 pl-5" style="color: white">



<h2 style="color:  rgb(51, 51, 51)"> LOG IN </h2>

  <form method="POST">
    <div class="form-group">
       {% csrf_token %}
       <label>Username:</label>
       <input name="Username" id="Username" type="text" required>
   </div>
   <div class="form-group">
     <label>Password: </label>
     <input name="Password" id="Password" type="password" required>
   </div>
   <div class="form-group">
      <input type="submit" value="Log In" id="log-in" name="login" class="btn" style="background-color: #ade9cc;">


   </div>
   
  </form>
    <br><br>
    <h7>Dont have an account yet? </h7 >
    <a href = "{% url 'jadwal:signup' %}"> Sign Up
  </a>
      {% for i in messages %}
      <h3>{{ i }}</h3>
      {% endfor %}
</div>
</div>
</div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</div>
</body>
</html>


